@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Pitch Track</title>
	@Styles.Render("~/Content/Styles/stylesheets")
</head>
<body>
	<div>
		@RenderBody()
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/handlebars")
	@Scripts.Render("~/bundles/pitchtrack-utils")
	@RenderSection("scripts", false)
</body>
</html>
